.quienes_somos{
    background-image: url("../img/FondoNosotros.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto_equipo{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 370px;
}

.registro_turismo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.titulo_registro_turismo{
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.descripcion_agencia{
    width: 80%;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: justify;
    line-height: 2;
}

.valores{
    width: 90%;
}

.titulo_valores{
    color: white;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
}

.lista_valores{
    width: 80%;
    color: white;
    margin-left: 100px;
    margin-top: 20px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 3;
}

@media (width <=1145px) {
    .foto_equipo{
        width: 90%;
        height: auto;
    }

    .lista_valores{
        margin-left: 15px;
        width: 100%;
    }
}
