.home{
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    /*top: -100px;*/
}

.imagen-fondo-inicio{
    width: 100%;
}

.imagen-fondo-inicio img{
    width: 100%;
    z-index: -5;
}

.boton-inicio{   
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    top: 5%;
    right: 5%;
}

.boton-inicio p {
    margin: 0px;
    font-family: Anton;
    font-size: 65px;
    color: white;
    line-height: 1.2;
}

.boton-inicio p > strong{
    color: #0487D9;
}

.boton-contacto{
    width: 347px;
    height: 73px;
    margin: auto;
    border-radius: 25px;
    background-color: #0487D9;
}

.boton-contacto a {
    text-decoration: none;
    color: white;
    font-family: Anton;
    font-size: 40px;
}

/* ------------------------------------------------------------------------------------ */

.contenido-inicio{
    width: 100%;
    background-color: red;
}

@media ( width <=1145px) {
    .home{
        top: 0;
        margin: auto;
    }

}

@media ( width <=1075px) {
    .boton-inicio p {
        font-size: 30px;
    }

    .boton-inicio{
        top: 1%;
        right: 2%;
    }

    .boton-contacto{
        width: 150px;
        height: 30px;
        margin: auto;
        border-radius: 25px;
        background-color: #0487D9;
    }

    .boton-contacto a {
        font-size: 20px;
    
    }

}