.clientes_Ins{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

h2{
    text-align: center;
    font-family: Anton;
    font-size: 64px;
}

h2:hover{
    cursor: default;
}

.clientes_Ins img{
    width: 100%;
    max-width: 1000px;
}

@media ( width <=1145px) { 
    .clientes_Ins{
        margin-top: 0px;
    }
    
    .clientes_Ins h2 {
        font-size: 35px;
        margin-bottom: 5px;
    }

    .clientes_Ins img{
        width: 80%;
    }
}