.titulo_planes {
    height: auto;
    width: 100%;
    position: relative;
}

.titulo_planes img {
    width: 100%;
    z-index: -5;
}

.titulo_planes h2 {
    position: relative;
    padding-top: 200px;
    margin-left: 50px;
    text-align: left;
    color: white;
}

.div_planes{
    height: 100%;
    background-image: url("../img/FondoPlanes.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0%;
}

p {
    cursor: pointer;
}

.planes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 183px;
    margin-right: 183px;
    margin-bottom: 5px;
    justify-content: center;
}

.cardPlanes {
    width: 344px;
    height: 410px;
    margin: 10px;
    background-color: #F1F1F1;
    cursor: pointer;
}

.cardPlanes img {
    width: 100%;
    height: 258px;
}

.tituloPlan {
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 200px;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 200;
    margin: auto;
    margin-top: 10px;
    height: 76px;
}

.boton {
    text-align: end;
    margin-right: 15px;
    margin-top: 10px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    color: #0487D9;
}

@media (width <=1145px) {
    .titulo_planes {
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .titulo_planes h2 {
        font-size: 40px;
        margin-top: 0;
    }

    .planes{
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 5px;
    }

    .div_planes{
        height: auto;
    }

}

@media (width <=905px) {
    .titulo_planes h2 {
        padding-top: 50px;
    }
}
