.layout{
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu{
    display: flex;
    align-items: center;
    padding-left: 73px;
    padding-right: 73px;
    height: 100px;
    z-index: 100;
    position: relative;
}

nav{
    width: 100%;
    margin: auto;
    font-size: 22px;
    margin-left: 500px;
}

nav > ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
}

nav > ul li a{
    text-decoration: none;
    color: white;
}

.img-navbar{
    width: 80px;
    height: 80px;
}

.boton-whatsapp{
    position: fixed;
    z-index: 100;
    right: 0;
    top: 60%;
}

.boton-whatsapp img{
    width: 97px;
    height: 97px;
    cursor: pointer;
}

footer{
    display: flex;
    background-color: #012E40;
    align-items: center;
    height: 283px;
    padding: 0 72px;
}

.logo-footer{
    width: 433px;
}

.logo-footer img{
    display: block;
    margin: auto;
    width: 199px;
    height: 199px;
}

.contenido-footer{
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.redes ul > li{
    list-style: none;
    margin: 10px;
}

.redes ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-size: 24px;
   
}

.redes ul li a>img{
    width: 40px;
    margin-right: 15px;
}

.links ul li {
    list-style: none;
    margin: 15px;
}

.links ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-size: 24px;
}

.movil{
    display: none;
}

.MenuMovil{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
}

.movilMenu ul{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    background-color: #012E40;
    justify-content: space-around;
    align-items: center;
}

.movilMenu {
    margin: 0;
}


@media ( width <=1145px) {
    .menu{
        display: none;
    }

    .movil{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #012E40;
        width: 100%;
        height: auto;
        z-index: 1;
        min-height: 60px
    }

    .movil svg{
        display: block;
        margin-left: 80%;
        color: white;
        font-size: 40px;
    }

    footer{
        padding: 0 20px;
        justify-content: space-around;
    }

    .logo-footer{
        width: 20%;
        margin-left: 15px;
    }

    .logo-footer img{
        width: 100px;
        height: 100px;
    }

    .contenido-footer{
        width: 80%;
    }

    .links{
        display: none;
    }

    .boton-whatsapp img{
        height: 70px;
        width: 70px;
    }
}